In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv('D://DATA SCIENCE//payment_fraud.csv')
df.head()

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
0,29,1,4.745402,paypal,28.204861,0
1,725,1,4.742303,storecredit,0.000000,0
2,845,1,4.921318,creditcard,0.000000,0
3,503,1,4.886641,creditcard,0.000000,0
4,2000,1,5.040929,creditcard,0.000000,0

In [4]:
df.shape

(39221, 6)

In [7]:
df.isna().sum()

accountAgeDays          0
numItems                0
localTime               0
paymentMethod           0
paymentMethodAgeDays    0
label                   0
dtype: int64

In [11]:
X=df[['accountAgeDays','numItems','localTime','paymentMethod','paymentMethodAgeDays']]
X.head()

   accountAgeDays  numItems  localTime paymentMethod  paymentMethodAgeDays
0              29         1   4.745402        paypal             28.204861
1             725         1   4.742303   storecredit              0.000000
2             845         1   4.921318    creditcard              0.000000
3             503         1   4.886641    creditcard              0.000000
4            2000         1   5.040929    creditcard              0.000000

In [19]:
X=pd.get_dummies(X,drop_first=True)
X.head()

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,paymentMethod_paypal,paymentMethod_storecredit
0,29,1,4.745402,28.204861,1,0
1,725,1,4.742303,0.000000,0,1
2,845,1,4.921318,0.000000,0,0
3,503,1,4.886641,0.000000,0,0
4,2000,1,5.040929,0.000000,0,0

In [10]:
y=df.drop(['accountAgeDays','numItems','localTime','paymentMethod','paymentMethodAgeDays'],axis=1)
y.head()

   label
0      0
1      0
2      0
3      0
4      0

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [21]:
model = LogisticRegression()

In [22]:
model.fit(X_train,y_train)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
pred = model.predict(X_test)

In [26]:
y_test.values

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

In [27]:
accuracy_score(pred, y_test)

1.0

In [28]:
confusion_matrix(y_test,pred)

array([[11600,     0],
       [    0,   167]], dtype=int64)